
.container{
    display: flex;
}
.nav-item a{
    text-decoration: none;
    margin: 0 22px;
    color: black;
    font-size: 20px;
}
.nav-item a:hover{
    color: dodgerblue;
}
ul{
    margin: 0 auto;
}
.fa{
    background: -webkit-linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa:hover{
    background: -webkit-linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
