<nav class="navbar sticky-top  navbar-expand-lg navbar-light bg-light shadow-sm p-2 mb-2 bg-body rounded">
    <div class="container-fluid " >
        <div class="container">
            <a class="navbar-brand" routerLinkActive="active" href="../">E-Commerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a routerLinkActive="active" routerLink="../">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLinkActive="active" routerLink="../addProduct">Add Product</a>
                    </li>
                    
                </ul>
                <a routerLink="/cart"> <i class="fa fa-shopping-cart fa-2x"></i></a> 
            </div>    
        </div>
        
    </div>
</nav>