<app-navbar></app-navbar>
<app-category></app-category>
<div class="container">
    
    <!-- 
        testing  change the if confition to *ngIf="mobile.product_category=='Mobiles'"
    -->
    
    <div *ngFor="let mobile of mobiles"  >
        <div class="card mb-3" style="max-width: 1040px;" *ngIf="mobile.product_category=='Mobiles'">
            <div class="row g-0" >
                <div class="col-md-4">
                    <img src="{{mobile.product_image}}" alt="{{mobile.product_name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 #name class="card-title">{{mobile.product_name}} </h5>
                        <h6 #price class="price">₨ {{mobile.product_price}}</h6>
                        <p   class="card-text">{{mobile.product_description}} </p>
                        <div class="footer">
                            <p class="card-text"><small class="text-muted">Rating : {{mobile.product_rating}} </small></p>
                            <p class="card-text"><small class="text-muted">Reviews: {{mobile.total_product_reviews}}</small></p>
                            <button type="submit" class="btn btn-outline-warning">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div> 
<app-footer></app-footer>