.container{
    padding:22px 130px 22px;
    margin-bottom: 40px;
}
img{
    height: 200px;
    padding: 15px 25px; 
}
.footer{
    display: flex;
}
.footer p{
    margin: 0 auto;
    font-size: 18px;
}
.card:hover{
    transition: all 0.5s ease-in-out;
    transform:scale(1.07); 
}