<app-navbar></app-navbar>
<app-category></app-category>
<div class="container">
    
    <!-- 
        testing  
    -->
    <div *ngFor="let laptop of laptops"  >
        <div class="card mb-3" style="max-width: 1040px;" *ngIf="laptop.product_category=='Laptops'">
            <div class="row g-0" >
                <div class="col-md-4">
                    <img src="{{laptop.product_image}}" alt="{{laptop.product_name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 #name class="card-title">{{laptop.product_name}} </h5>
                        <h6 #price class="price">₨ {{laptop.product_price}}</h6>
                        <p   class="card-text">{{laptop.product_description}} </p>
                        <div class="footer">
                            <p class="card-text"><small class="text-muted">Rating : {{laptop.product_rating}} </small></p>
                            <p class="card-text"><small class="text-muted">Reviews: {{laptop.total_product_reviews}}</small></p>
                            <button type="submit" class="btn btn-outline-warning">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<app-footer></app-footer>