<div class="links" >
    <li class="linking">
        <a class="reference" routerLink="/" routerLinkActive="active">All Products</a>
    </li>
    <li class="linking">
        <a class="reference" routerLink="/mobiles" routerLinkActive="active">Mobiles</a>
    </li>
    <li class="linking">
        <a class="reference" routerLink="/laptops" routerLinkActive="active">Laptops</a>
    </li>
    <li class="linking">
        <a class="reference" routerLink="/gadgets" routerLinkActive="active">Gadgets</a>
    </li>
</div>