.container{
    box-shadow: 0 0px 20px grey;
    padding: 50px;
    border-radius: 10px;
    width: 700px;
    margin: 60px auto 60px auto;
}
.row{ 
    margin-top: 22px;
}
.image{
    width: 50%;
    margin:0 auto;
}
.description{
    width: 70%;
    margin: 20px auto;
}
.buttons{
    width: 200px;
    margin: 20px auto 5px auto;
    align-items: center;
}
.btn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
}
.invalid-feedback{
    text-align: center;
}
